VITE_LIVE_NEWS_URL=https://www.youtube.com/watch?v=YDvsBbKfLPA
VITE_LIVE_NEWS_EMBED_URL=https://www.youtube-nocookie.com/embed/YDvsBbKfLPA?autoplay=1&mute=1&playsinline=1&rel=0
VITE_FISHJAM_WHEP_ENDPOINT=
